@keyframes slowZoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.animate-slowZoom {
  transform: scale(1.1);
}

/* @keyframes dropFade {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-dropFade {
  animation: dropFade 0.7s ease forwards;
  will-change: transform, opacity;
} */
 
/* client carousel animations */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 28s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 28s linear infinite;
}

/* 🔥 Important fixes */
.animate-marquee,
.animate-marquee-reverse {
  display: flex;
  width: max-content;
  will-change: transform;
}